<!DOCTYPE html>
<html>
<head>
  <title>Murder at Sea</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">

  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= favicon_link_tag 'helm_wheel.svg' %>

  <%= csrf_meta_tags %>
</head>
<body>

  <nav id="navbar" class="top-bar">
    <%- if current_user -%>
    <ul class="primary-section">
      <li class="event-hud">
        <ul class="mystery-console">
          <li id="party" class="party-hud">
            <a href="/party"><i class="fas fa-book-dead"></i></a>
          </li>
          <li id="rules" class="rules-hud">
            <a href="/rules"><i class="far fa-compass"></i></a>
          </li>
          <li id="manifest" class="manifest-hud">
            <a href="/manifest"><i class="fas fa-address-book"></i></a>
          </li>
        </ul>
        <div class="user-controls">
          <button id=char-hud-down class="user-hud-toggle" onclick="charConSwitch()">
            <i class="fas fa-caret-down"></i>
          </button>
          <button id=char-hud-up class="user-hud-toggle" onclick="charConSwitch()">
            <i class="fas fa-caret-up"></i>
          </button>
          <script type="text/javascript">
            function charConSwitch() {
              var downer = document.getElementById("char-hud-down");
              var uppity = document.getElementById("char-hud-up");
              var change = document.getElementById("char-cons");
              if (change.style.display === "none"){
                change.style.display = "flex";
                uppity.style.display = "flex";
                downer.style.display = "none";
              } else {
                change.style.display = "none";
                uppity.style.display = "none";
                downer.style.display = "flex";
              }
            }
          </script>
          <div id="status" class="user-status">
            <a href="/users/<%=current_user.id%>"><i class="fas fa-user-circle"></i></a>
          </div>
        </div>
      </li>
      <li id="char-cons" class="char-ops">
        <ul class="character-console">
          <li id="story" class="origin-story-hud">
            <a href="/users/<%=current_user.id%>/background"><i class="fas fa-scroll"></i></a>
          </li>
          <li id="goals" class="goals-hud">
            <a href="/users/<%=current_user.id%>/goals"><i class="fas fa-tasks"></i></a>
          </li>
          <li id="secrets" class="secrets-hud">
            <a href="/users/<%=current_user.id%>/secrets"><i class="far fa-eye"></i></a>
          </li>
          <li id="connections" class="connections-hud">
            <a href="/users/<%=current_user.id%>/connections"><i class="fas fa-users"></i></a>
          </li>
          <li id="abilities" class="abilities-hud">
            <a href="/users/<%=current_user.id%>/abilities"><i class="fas fa-wind"></i></a>
          </li>
          <li id="notes" class="notes-hud">
            <a href="/users/<%=current_user.id%>/notes"><i class="fas fa-search"></i></a>
          </li>
        </ul>
        <div class="sign-out">
          <%= link_to '<span class="veiled">|</span><i class="fas fa-sign-out-alt"></i>'.html_safe, destroy_user_session_path, method: :delete %>
        </div>
        <%- else -%>
        <div class="sign-in">
          <%= link_to '<span class="veiled">|</span><i class="fas fa-ship"></i>'.html_safe, user_session_path %>
        </div>
        <%- end -%>
      </li>
    </ul>
  </nav>

  <div id="flash-messages">
    <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
    <%- end -%>
  </div>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
