<!DOCTYPE html>
<html>
<head>
  <title>Mur Maid</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">

  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= favicon_link_tag 'helm_wheel.svg' %>

  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Mur_Maid</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li>
            <a href="/users/<%=current_user.id%>">
              <i class="fas fa-user-circle"></i>
            </a>
            <div class="sign-out">
              <%= link_to '<span class="veiled">|</span><i class="fas fa-sign-out-alt"></i>'.html_safe, destroy_user_session_path, method: :delete %>
            </div>
          </li>
        <%- else -%>
          <li><%= link_to '<span class="veiled">|</span><i class="fas fa-sign-in-alt"></i>'.html_safe, user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <div id="flash-messages">
    <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
    <%- end -%>
  </div>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
